@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root{
   --primary:#FDB827;
   --secondary:#FF800B;
   --dark:#233506;
   --light:#fff;
   --bg:#fff9f2;
   --conten_width: 1170px;
}
*{
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Fredoka', sans-serif;
   background-color: var(--bg);
   color: var(--dark);
   font-size: 18px;
   
}
a{
   color: var(--dark);
   text-decoration: none;
}
.logo span{
   color: var(--secondary);
}

/* ------------------------Wrapper------------------------------ */
.content{
   max-width: var(--content-width);
   width: 100%;
   padding: 0px 16px;
   margin: 0 auto;
   
   
}
/*------------------------------------ first screen---------------Block_1----------------- */
.wrapper {}

.first__screen {
position: relative;
min-height: 100vh;
background-color: var(--bg);
display: flex;
}

.first-screen .content{
   display: flex;
   flex-direction: column;
}

.first-screen > *{
   position: relative;
   z-index: 0;
}

.first__screen_bg-segment {
   position: absolute;
   background-color: var(--primary);
   top: 0;
  bottom: 0;
  right: 0;
  width: 33%;
  z-index: 0;
}

.first__screen_bg-segment img{
   position: absolute;
   top: 12%;
   right: 0;
   width: 280%;

}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 46px 0;
}

.logo {
   font-size: 36px;
   font-weight: 600;
   margin-left: 150px;

}

.menu a:not(last-child) {
   margin-right: 46px;  

}

.header__actions {
   display: flex;
   align-items: center;
}
.header__actions .button:not(last-child){
   margin-right: 12px;
}

.button {
   background-color: var(--primary);
   color: var(--light);
   padding: 16px 22px;
   border-radius: 50px;
   line-height: 18px;
   cursor: pointer;
   z-index: 2;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.button__light{
   background-color:var(--light);
   color:var(--secondary);
}
.button_with-icon i{
   font-size: 1.2em;
   margin-left: 18px;
}
.button_icon-square,
.button_icon_circle {
  --size:50px;
   height: var(--size);
   width: var(--size);
   border-radius: 15px;
   text-align: center;
   font-size: 20px;
}

.button_icon_circle{
   --size:62px;
   border-radius: var(--size);
   text-align: center;
}

.first-screen__content {
   margin: 150px;
   max-width: 550px;
   padding-bottom: 64px;
   
}
.first-screen__content > *:not(last-child){
   margin-bottom: 30px;
}

.first-screen__title {
   font-size: 84px;
   line-height: 100px;
}

.first-screen__title span{
   color: var(--primary);
}

.first-screen__description{
   line-height: 1.7em;
   margin-top: 30px;
   margin-bottom: 40px;
   
}


.button_xl{
   padding: 22px 40px;
}
.products{
   padding: 140px 140px;
}

.products__cards{
   margin: -15px;
   margin-top: 80px;
   display: flex;
   flex-wrap: wrap;
}
.products__cards .card{
   margin: 21px  15px;
}

.how-work {
   position: relative;
   padding: 56px 0;
   background-color: var(--bg);
}
.how-work .content{
   display: flex;
   align-items: center;
}


.content {}

.how-work__img {
   margin-left: 140px;
}

.how-work__text {
   margin-left: 140px;
}

.how-work__description {
   line-height: 1.7em;
   opacity: 0.75;
   margin: 50px  0;
   max-width: 494px;
}

.how-work__list {
   list-style-type: none;
   padding: 0;
   
}
.how-work__list li:nth-child(1) .button {
   background-color: #7e4ff2;
   
}
.how-work__list li:nth-child(2) .button {
   background-color: #7bbb66;
   
}
.how-work__list li:nth-child(3) .button {
   background-color: #ff800b;
   
}
.how-work__list li:nth-child(4) .button {
   background-color: #ffd400;
   
}

.how-work__list li{
   display: flex;
   margin-bottom: 40px;
}
.how-work__list .button{
margin-right: 30px;
}

.how-work__list strong{
   display: block;
   font-size: 20px;
   margin-bottom: 10px;
   font-weight: 6000;

}
.how-work__list span{
   opacity: 67%;
}
.title__products{
   font-size: 60px;
   line-height: 82px;
   font-weight: 600;
}
.card{
   --size: 270px;
   width: var(--size);
  
}

.card__img {
   width:  var(--size);
   height: calc( var(--size)*0.66) ;
   outline: 1px solid;
   border-radius: 10px;
   overflow: hidden;
   background: center/100% auto;
}

.card__head,
.card__footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 24px;
}

.card__title {
   font-size: 20px;
   padding-right: 8px;
}

.card__footer {
   margin-top: 28px;
}

.card__gram {
   font-size: 12px;
}

.card .button {
   padding: 10px 36px;
   border-radius: 8px;
   color: var(--dark);
   font-weight: 300;
}

.how-work .bg-circle {
   width:680px;
   height:680px;
   border: 74px solid var(--primary);
   border-radius:680px;
   opacity: 0.23;
   position: absolute;
   left: -550px;
}
.about {
   position: relative;
   padding: 100px 0;
}

.bg-circle {
   width:680px;
   height:680px;
   border: 74px solid var(--primary);
   border-radius:680px;
   opacity: 0.23;
   position: absolute;
   left: 900px;
}

.content__about {
   position: relative;
   display: flex;
   align-items: center;
   margin-left: 150px;
}

.about__description {
   line-height: 30px;
   opacity: 0.75;
   margin: 50px  0;
   max-width: 485px;
}

.about__img {
   margin-left: 96px;
   height: 743px;
   width: 694px;

}

.review {
   padding: 140px 0;
   text-align: center;
   background-color: var(--bg);
}
.review .slider{
   margin: 40px auto;
}
.content__slider {
   
}

.Title {}

.slider {
   position: relative;
   display: inline-block;
   width: 826px;
   z-index: 3;
}

.slider__button {
   --size:60px;
   width: var(--size);
   height:var(--size);
   border-radius: var(--size);
   background-color: var(--light);
   border: 1px solid var(--primary);
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--primary);
   cursor: pointer;
   position: absolute;
   z-index: 1;
   top: 50%;
   
   
}
.slider__button:hover{
   background-color: var(--primary);
   color: var(--light);
   border-color: var(--light);
}


.slider__item_bg,
.slider__item_bg-1 {
    position: absolute;
   top: 0;
   left: 0;
   left: 50%;
}

.slider__content{

}

.slider__item_bg-2 {}

.slider__item {
   --radius: 64px;
   min-height: 368px;
   border-color:var(--light) ;
   border-radius: var(--radius);
   box-shadow: 0 2px 15px rgba(0, 0, 0, 0.03),
   0 17px 121px rgba(0, 0, 0, 0.06);
   position: relative;
   padding: 10px;
}
.slider__item:hover{
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3),
   0 30px 130px rgba(0, 0, 0, 0.6);
}
/* .review .content{
   display: flex;
   flex-direction: ;
} */
.slider__button-prev{
   left: 0;
   margin-left: calc(var(--size) /-2);
}

.slider__button-next{
   right: -30px;
   margin-left: calc(var(--size) /-2);
}

.slider__item_bg-1{
   width: 70%;
   bottom: -25%;
}

.slider__img{
   display:inline-block;
   position: absolute;
   top: 100px;
   left: 350px;
   color: #FF800B;
   
}

.footer {
   padding: 150px 0 42px;

}

.footer__content {
   display: flex;
   margin: 16px;
   width: 1250px;
}
.flex{
   display:flex;
flex-direction:column;
}
.flex__last{
   width: 250px;

   height: auto;
   
}


.footer__copyright {
   text-align: center;
}


